            <ul class="list-unstyled">
             
              <li>
                <a target="_bank" href="https://github.com/">
                  GitHub
                </a>
              </li>
              <li>
                <a href="https://bitbucket.org/">
                  Bitbucket.org
                </a>
              </li> 
               <li>
                <a href="https://news.ycombinator.com/">
                  Hacker News
                </a>
              </li>        
              <li>
                <a href="http://www.stackoverflow.com/">
                  Stack Overflow
                </a>
              </li>
              <li>
                <a href="http://www.panxuewen.com">
                  Panxw's Blog
                </a>
              </li>				  
            </ul>
